@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

@font-face {
    font-family: 'pfinal';
    src: url(fonts/fotograami-hearts01.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');




*{
    padding: 0px;
    margin: 0px;
}

:root{
    --cor01: #DED9D3;
    --cor02: #B3AFAA;
    --cor03: #5E5C5A;
    --cord01: #db942a;
    --cord02: #663F06;
}

body{
    font-family: sans-serif;
    background-color: var(--cor01);
}

main{
    max-width: 650px;
    margin: auto;
}


/*header*/
header{
    background-color: var(--cor02);
}

header h1{
    font-size: 4em;
    text-align: center;
    padding-top: 20px;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: 100;
    color: var(--cord02);

}

header p{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*section*/

section p{
    line-height: 4em;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: clamp(0.9rem, 5.3vw, 1.5rem);
    text-align: center;
    color: var(--cord02);
    font-weight: bold;
    font-family: 'Kalam', cursive;
}

#pfinal p{
    font-size: 6em;
    font-family: 'pfinal', cursive;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 0.8em;
    color: var(--cord01);
}

/*img01*/
section#img01{
    background-image: url(imagens/img01.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}

#img01 p{
    background-color: #0000002f;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-radius: 25px 0px;
    box-shadow: inset 2px 2px 5px #0000003a;
}

/*img02*/
#img02{
    background-image: url(imagens/img04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 3px 3px 10px #00000085;
}

#img02 p{
    padding-top: 70px;
    text-align: center;
    vertical-align: middle;

}

/*img03*/

#img03{
    background-image: url(imagens/img03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img03 p{
    line-height: 2em;
    font-size: 2em;
}

/*Final*/

.final{
    position: relative;
    max-width: 600px;
    background-color: var(--cor02);
    height: 240px;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
}
/*audioperfil*/

#audioperfil{

    max-width: 50%;
    height: 100%;
}

#ouca{
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

#audio{
    position: relative;
    left: 5px;
    display: block;
    width: 160%;
    padding: 5px;
    border-radius: 15px;
    margin: auto;
    background-color: #663F06;
    height: 20px;
}

#autor{
    margin-top: 5px;
    padding: 10px;
}

#audioperfil img{
    position: absolute;
    bottom: 5px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    background-color: var(--cor02);

}



/*links*/

#links{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}

#plink{
    position: absolute;
    bottom: 2px;
    left: 120px;
    width: 35vw;
    max-width: 300px;
    height: 118px;
    font-size: clamp(0.9rem, 4vw, 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*youtube*/
#yout{
    margin-bottom: -4px;
    margin-top: 90px;
    margin-left: 60%;
    display: block;
    width: 50px;
}

/*facebook*/

#facebook{
    padding-top: 0px;
    margin-left: 60%;
    display: block;
    width: 50px;
}

/*instagran*/

#instagran{
    padding-top: 0px;
    margin-left: 60%;
    display: block;
    width: 50px;
}




/*footer*/

footer{
    background-color: var(--cor03);
    text-align: center;
    padding: 10px;
}

#pessoal{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}

#pessoal:hover{
    background-color: var(--cord01);
    padding: 3px 5px;
    border-radius: 5px;
}
